{
    "slack_signing_secret" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "slack_user_token" : "xoxp-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "slack_bot_token" : "xoxb-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx",
    "caldav_username" : "user@server.com",
    "caldav_password" : "xxxxxxxxxxxxxxxx",
    "caldav_url" : "https://www.server.com/...", 
    "logger_level" : "DEBUG",
    "error_mail_from" : "error@server.com",
    "error_mail_to" : "dev@server.com",
    "slash_command" : "remindEvent",
    "agenda" : {
        "db_type" : "MySQL",
        "db_host" : "localhost",
        "db_name" : "slack_app",
        "db_username" : "slack_app_user",
        "db_password" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "db_table_prefix": "slack_app_"
    },
    "salt": "<replace with an arbitrary uniq string>",
    "prepend_block" : {
	"type": "section",
	"text": {
	    "type": "mrkdwn",
	    "text": "Pre message"
	}
    },
    "append_block" : {
	"type": "section",
	"text": {
	    "type": "mrkdwn",
	    "text": "Post message"
	}
    },
    "empty_agenda_block" : {
	"type": "section",
	"text": {
	    "type": "mrkdwn",
	    "text": "*No event in the agenda.*"
	}	
    },
    "no_event_block" : {
	"type": "section",
	"text": {
	    "type": "mrkdwn",
	    "text": "*No event found.*"
	}	
    },
    "categories": [
         {"name": "Visioconférence", "emoji" : ":desktop_computer:"},
	 {"name": "Urgent", "emoji" : ":warning:"},
  	 {"name": "Nouveau bénévole", "short_name" : "NB", "emoji": ":white_circle:"},
	 {"name": "Observateur", "short_name" : "OBS", "emoji" : ":large_blue_circle:"},
	 {"name": "Intervenant", "short_name" : "INT", "emoji" : ":large_purple_circle:"}
    ]
}
