{
    "signing_secret" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "slack_bot_token" : "xoxb-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx",
    "caldav_username" : "xxxxxxxxxxxxxxxxxxxxx",
    "caldav_password" : "xxxxxxxxxxxxxxxxxxxxx",
    "caldav_url" : "https://caldavserver.com"
}
