{
    "signing_secret" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "slack_bot_token" : "xoxb-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx",
    "slack_user_token" : "xoxp-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "caldav_username" : "xxxxxxxxxxxxxxxxxxxxx",
    "caldav_password" : "xxxxxxxxxxxxxxxxxxxxx",
    "caldav_url" : "https://caldavserver.com"
}
