_metadata:
  major_version: 1
  minor_version: 1
display_information:
  name: AgendaZWP
features:
  app_home:
    home_tab_enabled: true
    messages_tab_enabled: true
    messages_tab_read_only_enabled: true
  bot_user:
    display_name: AgendaZWP
    always_online: false
  slash_commands:
    - command: /remindEvent
      url: https://www.server.com/commands.php
      description: Rappel pour un évènement
      should_escape: false
oauth_config:
  scopes:
    user:
      - users:read
      - users:read.email
      - users.profile:read
      - identify
      - reminders:write
      - reminders:read
    bot:
      - commands
      - chat:write
      - users.profile:read
      - users:read.email
      - users:read
      - channels:read
      - groups:read
      - mpim:read
      - im:read
settings:
  event_subscriptions:
    request_url: https://www.server.com/events.php
    bot_events:
      - app_home_opened
  interactivity:
    is_enabled: true
    request_url: https://www.server.com/actions.php
  org_deploy_enabled: false
  socket_mode_enabled: false
  token_rotation_enabled: false
