{
    "credentials" : [
	{
	    "username" : "user@server1.com",
	    "password" : "xxxxxxxxxxxxxxx",
	    "url" : "https://www.server1.com/calendar/dav/xxxxxxxxxxxxxx/events"
	},
	{
	    "username" : "user@server2.com",
	    "password" : "xxxxxxxxxxxxxxx",
	    "url" : "https://www.server2.com/calendar/dav/xxxxxxxxxxxxxx/events"
	}
    ]
}
